<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define productVersion= !(bind.FileVersion.TeamMate.Exe) ?>
	<Product Id="*" Name="TeamMate" Language="1033" Version="$(var.productVersion)" Manufacturer="https://github.com/microsoft/teammate" UpgradeCode="df0aeb4a-f671-4641-af7f-9629a80544d5">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<Icon Id="TeamMate.ico" SourceFile=".\TeamMate.ico"/>
		<Property Id="ARPPRODUCTICON" Value="TeamMate.ico" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="TeamMate" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationDirectory" />
		</Feature>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="B4CD7732-0D44-481F-9108-322BC1389D20">
				<Shortcut Id="ApplicationStartMenuShortcut"
									Name="TeamMate"
									Description="Microsoft TeamMate"
									Target="[#TeamMate.exe]"
									Icon="TeamMate.ico"
									WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\MyCompany\TeamMate" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="ApplicationDirectory" Guid="B4CD7732-0D44-481F-9108-322BC1389D21" KeyPath="yes">
				<RemoveFolder Id="CleanUpDirectory" Directory="INSTALLFOLDER" On="uninstall"/>
			</Component>
		</DirectoryRef>
		
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder" Name="AppData">
				<Directory Id="INSTALLFOLDER" Name="TeamMate" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="TeamMate"/>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductFoundation" KeyPath="yes" Guid="a423459f-7254-44c9-9af3-5e1f9aac99bc">
				<File Source="$(var.Foundation.TargetPath)" />
			</Component>
			<Component Id="ProductWebApi" KeyPath="yes" Guid="7b188df3-c24a-48fb-b39e-03ac63d078d0">
				<File Source="$(var.WebApi.TargetPath)" />
			</Component>
			<Component Id="ProductWindowsRuntime" KeyPath="yes" Guid="b8ca560d-712d-477f-a362-7672ea6f5990">
				<File Source="$(var.WindowsRuntime.TargetPath)" />
			</Component>
			<Component Id="ProductComponent" KeyPath="yes" Guid="d926b846-9c44-4bcc-a5f4-e859bb435b50">
				<File Source="$(var.TeamMate.TargetPath)" />
				<File Source="$(var.TeamMate.TargetDir)\TeamMate.exe.config" />
			</Component>
			<Component Id="References" KeyPath="yes" Guid="557b615b-8cdf-4c4b-a15b-f41b74ec9a5e">
				<File Source="$(var.TeamMate.TargetDir)\SimpleInjector.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Microsoft.VisualStudio.Services.Client.Interactive.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Microsoft.VisualStudio.Services.Common.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Microsoft.VisualStudio.Services.WebApi.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Microsoft.TeamFoundation.Core.WebApi.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Microsoft.TeamFoundation.SourceControl.WebApi.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.WebApi.dll" />
				<File Source="$(var.TeamMate.TargetDir)\Newtonsoft.Json.dll" />
				<File Source="$(var.TeamMate.TargetDir)\System.Net.Http.Formatting.dll" />
				<File Source="$(var.TeamMate.TargetDir)\System.Web.Http.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
