<!--
Copyright (c) Microsoft Corporation.
Licensed under the MIT License.
-->

<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_KudosDomainServicesoap" maxReceivedMessageSize="1048576">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IReviewDashboardService" maxReceivedMessageSize="1048576" />
        <binding name="ReleaseServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="DirectoryServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="WikiServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="UserEventServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDiscoveryService" maxReceivedMessageSize="1048576" />
        <binding name="WSHttpBinding_IProjectService" maxReceivedMessageSize="1048576" />
        <binding name="WSHttpBinding_IReviewService" maxReceivedMessageSize="1048576" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tk5cdflwiis02/DashboardService/DashboardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReviewDashboardService"
        contract="CodeFlow.Dashboard.IReviewDashboardService" name="BasicHttpBinding_IReviewDashboardService" />
      <endpoint address="http://codeflow/Services/DiscoveryService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDiscoveryService"
        contract="CodeFlow.Discovery.IDiscoveryService" name="WSHttpBinding_IDiscoveryService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://codeflow/Services/ProjectService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProjectService"
        contract="CodeFlow.Project.IProjectService" name="WSHttpBinding_IProjectService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://codeflow/Services/ReviewService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReviewService"
        contract="CodeFlow.Review.IReviewService" name="WSHttpBinding_IReviewService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://kudos/Services/Kudos-WCFService-KudosDomainService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_KudosDomainServicesoap"
        contract="Kudos.Domain.KudosDomainServicesoap" name="BasicHttpBinding_KudosDomainServicesoap" />
      <endpoint address="http://codebox/services/ReleaseService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReleaseServiceSoap"
        contract="CodeBox.Release.ReleaseServiceSoap" name="ReleaseServiceSoap" />
      <endpoint address="http://codebox/services/DirectoryService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DirectoryServiceSoap"
        contract="CodeBox.Directory.DirectoryServiceSoap" name="DirectoryServiceSoap" />
      <endpoint address="http://codebox/Services/WikiService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WikiServiceSoap"
        contract="CodeBox.Wiki.WikiServiceSoap" name="WikiServiceSoap" />
      <endpoint address="http://codebox/Services/UserEventService.asmx"
        binding="basicHttpBinding" bindingConfiguration="UserEventServiceSoap"
        contract="CodeBox.UserEvent.UserEventServiceSoap" name="UserEventServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
