name: Release

on:
  push:
    tags:
      - *

jobs:

  build:

    strategy:
      matrix:
        channel: [Dev, Production]
        targetPlatform: [x64]
        include:
          - channel: Dev
            ChannelName: Dev
            Configuration: Debug
            MsixPackageId: Microsoft.Tools.TeamMate.Dev
            MsixPackageDisplayName: TeamMate (Dev)

          - channel: Production
            Configuration: Release
            ChannelName: Production
            MsixPackageId: Microsoft.Tools.TeamMate.Production
            MsixPackageDisplayName: TeamMate (Production)

    name: CD
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/Setup-MSBuild@v1.0.2

    # Update the appxmanifest before build by setting the per-channel values set in the matrix.
    - name: Update manifest
      run: |
        [xml]$manifest = get-content ".\Source\Packaging\Package.appxmanifest"
        $manifest.Package.Properties.DisplayName = "${{ matrix.MsixPackageDisplayName }}"
        $manifest.Package.Identity.Name = "${{ matrix.MsixPackageId }}.${{ github.event.release.tag_name }}.${{ matrix.ChannelName }}.${{ matrix.targetplatform }}"
        $manifest.Package.Applications.Application.VisualElements.DisplayName = "${{ matrix.MsixPackageDisplayName }}"
        $manifest.save(".\Source\Packaging\Package.appxmanifest")

    # Decode the base 64 encoded pfx and save the Signing_Certificate
    - name: Decode the pfx
      run: |
        $pfx_cert_byte = [System.Convert]::FromBase64String("${{ secrets.Base64_Encoded_Pfx }}")
        [IO.File]::WriteAllBytes("./Source/Packaging/GitHubActionsWorkflow.pfx", $pfx_cert_byte)
        
    - name: Create MSIX
      run: msbuild /restore:true /t:publish /p:AppxBundle=never /p:GenerateAppInstallerFile=True /p:UapAppxPackageBuildMode=SideLoadOnly /p:Configuration=${{ matrix.Configuration }} /p:Platform=${{ matrix.TargetPlatform }} /p:PackageCertificateKeyFile=GitHubActionsWorkflow.pfx  /p:PackageCertificatePassword=${{ secrets.Pfx_Key }} /p:AppxPackageSigningEnabled=true /p:AppInstallerUri="https://github.com/microsoft/TeamMate"
      working-directory: ./Source/Packaging
      shell: cmd

    # Remove the pfx
    - name: Remove the pfx
      run: Remove-Item -path "./Source/Packaging/GitHubActionsWorkflow.pfx"

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        name: ${{ github.event.release.tag_name }}.${{ matrix.ChannelName }}.${{ matrix.targetplatform }}
        files: "**/*.msix"
        draft: true
        prerelease: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_REPOSITORY: my_gh_org/my_gh_repo
